<div class="card" id="<%= dom_id article %>">
  <div class="card-body p-1">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.content %></p>
    <p class="card-text">
      <small class="text-muted">
        Published at:
        <% if article.published_at.present? %>
          <%= l(article.published_at.to_date) %>
        <% else %>
          —
        <% end %>
      </small>
    </p>
  </div>
</div>
