<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mb-3">
      <div class="card-header bg-white border-0">
        <h1>New article</h1>

        <div class="card-body">
          <%= render 'form', article: @article %>
        </div>
      </div>
    </div>
  </div>
</div>
