<div class="row">
  <div class="col-12 col-md-8 mx-auto">
    <div class="card">
      <div class="py-3 px-4">
        <div class="d-flex align-items-center">
          <h1 class="flex-grow-1 text-center h2 mb-3 m-0"><%= @article.title %></h1>
          <%= content_tag :div, class: "" do %>
            <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
          <% end  if admin?%>
        </div>

        <div class="mb-3">
          <span class="badge rounded-pill text-bg-secondary me-2">Secondary</span>
          <span class="badge rounded-pill text-bg-secondary me-2">Secondary</span>
        </div>
        <div>
          <%= sanitize(Commonmarker.to_html(@article.content),
                       tags: %w[p br strong em a ul ol li code pre],
                       attributes: %w[href title]) %>
        </div>
      </div>
    </div>
  </div>
</div>
