.madmin-form-container {
  max-width: 860px;
}

.madmin-form-row {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.madmin-form-row .form-group {
  margin-bottom: 0;
}

.madmin-image-preview {
  max-height: 120px;
  display: block;
  margin-bottom: 0.5rem;
}